.image{
    width: 80%;
    height: 80vh;
}
.button
{
    width: 40%;
    height: auto;
    border-radius: 10%;
    font-weight: bold;
    margin: 5px;
}
.bold{
    font-size: 120%;
    background-color: rgb(152, 98, 43);
    font-weight: bold;
}
.bg{
    color: rgb(152, 98, 43);
    font-size: 120%;
}
.col-xl-6{
    margin: auto;
}