.icon-style{
    font-size: 500%;
    color: orange;
}

.container{
    margin: 2% 24% 2% 24%;
}
.container-fluid{
    margin: 2% 70% 2% 70%;
}
.style{
    font-size: 200%;
}
.col-12{
    margin: auto auto;
}