<div class="container">
    <div class="row m-5">
        <div class="col-6">
            <h2>Contact Us</h2>
            <h3 class="text-warning">Be connected with us and got many exclusive oiffers, enjoy your shopping. Lorem
                ipsum dolor sit amet.
            </h3>
            <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium accusamus expedita
                dignissimos,
                temporibus labore voluptate reiciendis tenetur earum numquam cumque.</p>
            <p> <span class="style">Email : </span><span class="text">shophere2023@gmail.com</span></p>
            <p><span class="style">Contact : </span><span class="text">+91 987654321</span></p>
            <p><span class="style">Location : </span><span class="text">Bagnan, West Bengal</span></p>
            <p>
                <span>
                    <i class="bi bi-facebook icon"></i>
                </span>
                <span>
                    <i class="bi bi-twitter icon"></i>
                </span>
                <span>
                    <i class="bi bi-instagram icon"></i>
                </span>
                <span>
                    <i class="bi bi-envelope-at-fill icon"></i>
                </span>
            </p>
        </div>
        <div class="col-6">
            <div class="card bg-warning">
                <div class="row p-3">
                    <div class="col-12 my-3">
                        <input type="text" class="form-control fw-bold" placeholder="First name"
                            aria-label="First name">
                    </div>
                    <div class="col-12 my-3">
                        <input type="text" class="form-control fw-bold" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="col-12 my-3">
                        <input type="email" class="form-control fw-bold" placeholder="Email" aria-label="Last name">
                    </div>
                    <div class="col-12 my-3">
                        <input type="text" class="form-control fw-bold" placeholder="Phone Number"
                            aria-label="Last name">
                    </div>
                    <div class="col-12 my-3">
                        <input type="textarea" class="form-control fw-bold" placeholder="Comment"
                            aria-label="Last name">
                    </div>
                    <div class="col-12 my-3">
                        <button class="btn btn-dark fw-bold" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>