.img{
    width: 15vh;
    height: auto;
    border-radius: 50%;
}

.img-cont{

    margin: 1% auto 1% 5%;
}
.con{
    margin: 4% 5%;
}

.foot-container{
    width: 100%;
    overflow: hidden;
}
*{
    margin: 0px;
    padding: 0px;
}
.style{
    text-decoration: none;
    color: white !important;
    font-size: 100%;
}
.icon{
    font-size: 200%;
    margin: 5%;
    color: orange;
}
.cols{
    margin: 1% 25% 1% 25%;
}