<footer class="foot-container bg-dark text-white p-3">
    <div class="row img-cont">
        <img src="assets/images/logo.png" alt="" class="img-fluid img">
    </div>
    <div class="row con">
        <!-- <div class="col-xl-6 col-md">
            <h5></h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Cool stuff</a></li>
                <li><a class="link-secondary" href="#">Random feature</a></li>
                <li><a class="link-secondary" href="#">Team feature</a></li>
                <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li>
            </ul>
        </div> -->
        <div class="col-xl-4">
            <h5 class="text-warning">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary style" routerLink="/home">Home</a></li>
                <li><a class="link-secondary style" routerLink="/about-us">About Us</a></li>
                <li><a class="link-secondary style" routerLink="/contact-us">Contact Us</a></li>
                <li><a class="link-secondary style" routerLink="/all-product">Our Products</a></li>
            </ul>
        </div>
        <div class="col-xl-4">
            <h5 class="text-warning">Community</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary style" href="#">Facebook</a></li>
                <li><a class="link-secondary style" href="#">Instagram</a></li>
                <li><a class="link-secondary style" href="#">Twitter</a></li>
                <li><a class="link-secondary style" href="#">Email</a></li>
            </ul>
        </div>
        <div class="col-xl-4">
            <h5 class="text-warning">Address</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary style" href="#">Bagnan, West Bengal</a></li>
                <li><a class="link-secondary style" href="#">Pin : 711314</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 cols">
            <p>
                <span>
                    <i class="bi bi-facebook icon"></i>
                </span>
                <span>
                    <i class="bi bi-twitter icon"></i>
                </span>
                <span>
                    <i class="bi bi-instagram icon"></i>
                </span>
                <span>
                    <i class="bi bi-envelope-at-fill icon"></i>
                </span>
            </p>
        </div>
        <hr>
        <div class="col-12">
            <p class="text-center my-3 text-warning">All-right reserved © 2017–2023</p>
        </div>
    </div>


</footer>