.img {
    width: 7vh;
    height: auto;
    border-radius: 50%;
    margin-left: 20%;
}

.icon {
    font-size: 200%;
    margin-left: 60%;
    color: orange;
}

.search {
    width: 250%;
    height: auto;
}

.add-style {
    margin-left: 2%;
}

.style {
    width: 70vh;
    margin-left: 20%;

}

.btn-style {
    margin-left: -10px;
}