<body class="text-center add-style">
    <main class="form-signin">
        <form>
            <img class="mb-4" src="assets/images/logo.png" alt="" width="100" height="auto">
            <h1 class="h3 mb-3 fw-normal fw-bold">Pay Here...</h1>

            <div class="form-floating my-3">
                <input type="text" formControlName="first_name" class="form-control" id="floatingInput"
                    placeholder="name@example.com" fdprocessedid="mwgrlo">
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating my-3">
                <input type="text" formControlName="last_name" class="form-control" id="floatingPassword"
                    placeholder="Password" fdprocessedid="aeghfe">
                <label for="floatingPassword">Last Name</label>
            </div>

            <div class="form-floating my-3">
                <input type="text" formControlName="first_name" class="form-control" id="floatingInput"
                    placeholder="name@example.com" fdprocessedid="mwgrlo">
                <label for="floatingInput">Card Number</label>
            </div>

            <div class="form-floating my-3">
                <input type="number" formControlName="last_name" class="form-control" id="floatingPassword"
                    placeholder="Password" fdprocessedid="aeghfe">
                <label for="floatingPassword">Enter Code</label>
            </div>

            <div class="row style">
                <div class="col-2">
                    <img src="assets/images/pay/one.webp" alt="" class="image img-fluid">
                </div>
                <div class="col-2">
                    <img src="assets/images/pay/two.jpg" alt="" class="image img-fluid">
                </div>
                <div class="col-2">
                    <img src="assets/images/pay/three.png" alt="" class="image img-fluid">
                </div>
                <div class="col-2">
                    <img src="assets/images/pay/four.png" alt="" class="image img-fluid">
                </div>
                <div class="col-2">
                    <img src="assets/images/pay/five.jpg" alt="" class="image img-fluid">
                </div>
                <div class="col-2">
                    <img src="assets/images/pay/six.png" alt="" class="image img-fluid">
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-info fw-bold" type="submit" fdprocessedid="vuzel" (click)="conf()">Pay</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
</body>